<app-header [buttons]="['BACK', 'NOTIFICATION']" [route]="'/home'"></app-header>

<ion-content>
  <h1 class="title">Categories</h1>

  <ion-row class="favorite-items">
    <ion-col 
      size="6" 
      *ngFor="let product of catagorys" 
      class="ion-text-left padding-left0" 
      [routerLink]="['/','item-details', product.id]" 
      routerDirection="forward"
    >
      <img src="{{product.image}}" />
      <p>{{product.price}}</p>
      <h6>{{product.name}}</h6>
    </ion-col>
  </ion-row>
</ion-content>
