<app-header [buttons]="['BACK', 'NOTIFICATION']" [route]="'/home'"></app-header>

<ion-content fullscreen="true">
  <h1 class="title">Cart</h1>
  <div *ngIf="product.id >= 0">
    <div class="cart-items">
      <ion-card mode="ios">
        <ion-card-content>
          <div class="item-img">
            <img src="{{product.image}}" />
          </div>
  
          <div class="item-info">
            <p>{{product.name}}</p>
            <p>Lotto.LTD</p>
            <p>{{product.price | currency}}</p>
  
            <!-- <div class="qty-selector">
              <ion-button fill="clear">-</ion-button>
              <ion-label>1</ion-label>
              <ion-button fill="clear">+</ion-button>
            </div> -->
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <!-- <div *ngIf="product.id === null">
    Nothing in the cart....
  </div> -->
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" [routerLink]="['/','checkout', product.id]" routerDirection="forward">Continue</ion-button>
  </ion-toolbar>
</ion-footer>
